.App {
  width: 100%;
  height: 900px;
}

.main {
  width: 500px;
  height: 650px;
  border-radius: 20px;
  background-color: #446080;
  margin: 0 auto;
  margin-top: 100px;
}

.temperature {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 100%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #eee;
  background-color: #5171F0;
}

.temperature h1 {
  padding-top: 40px;
  font-size: 45px;
  color: #eee;
}

.managment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.plus {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 50px;
}

.minus {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 50px;
}

.veryCold {
  background: #9BBAFD;
}

.cold {
  background: #80ADF0;
}

.hot {
  background: #FDB658;
}

.warm {
  background: #FD9D48;
}

.veryHot {
  background: #FD410D;
}


.veryVeryHot {
  background: #FD0008
}